.header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 11;
      padding-top: 3rem;
      padding-bottom: 3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: background-color .3s;
      @include breakpoint($xl-bp) {
            padding-top: 2.6rem;
      }
}

.header--active {
      background-color: rgba($color: #abb8b9, $alpha: 0.8);
    }

.page-dark {
      .header {
            border-bottom: 0.1rem solid var(--bordr);
      }
}