.menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transform: translate3d(100%, 0, 0);
  height: 100%;
  background-color: var(--white);
  transition: all 0.7s ease;
  padding-top: 17rem;
  padding-bottom: 8.1rem;
  @apply fixed top-0 right-0 w-max h-full overflow-hidden z-10;
  overflow: auto;
  @include breakpoint($xl-bp) {
    padding-top: 12rem;
    padding-bottom: 6.2rem;
  }
}

.menu--open {
  transform: translate3d(0, 0, 0);
}

// .menu-button {
//   width: 30px;
//   height: 30px;

//   background-color: red;

//   position: absolute;

//   right: 0;
//   top: 0;

//   z-index: 3;
// }

.menu-button {
  width: 3rem;
  height: 1.8rem;
  background-color: transparent;
  border: 0;

  z-index: 15;
  position: absolute;
  top: 3.5rem;
  right: 6rem;
  
  .burger-button-close {
    #first-line-burger,
    #second-line-burger,
    #third-line-burger {
        width: 100%;
        height: 0.3rem;
        border-radius: 0.2rem;
        background-color: var(--white);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        transform-origin: center center;
        transition: all 0.3s;
    }

    #first-line-burger {
        top: 0%;
    }
    #third-line-burger {
        top: unset;
        bottom: 0%;
        left: unset;
        right: 0;
        width: 50%;
        transform: translateX(0);
    }
  }
  @include breakpoint($xl-bp) {
    width: 3rem;
    height: 1.5rem;
    top: 2.8rem;
    right: 2rem;
  }
  &:hover {
    #third-line-burger {
      top: unset;
      bottom: 0%;
      left: unset;
      right: 0;
      width: 100%;
      transform: translateX(0);
  }
  }
}

.header__menu-button--active,
.menu-button--active {
  width: 4.4rem;
  right: 5.5rem;
  @include breakpoint($xl-bp) {
    width: 3rem;
    right: 2rem;
  }
  .burger-button-close {
    #first-line-burger,#third-line-burger {
      height: 0.2rem;
    }
    #first-line-burger {
      top: 50%;
      transform: translateX(-50%) rotate(45deg);
      background-color: var(--black);
    }
    #second-line-burger {
      transform: translateX(100%);
      opacity: 0;
    }
    #third-line-burger {
      top: 50%;
      left: 50%;
      right: unset;
      bottom: 0;
      width: 100%;
      transform: translateX(-50%) rotate(-45deg);
      background-color: var(--black);
    }
  }
}


.menu-button--active {

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}