<footer class="footer">
  <div class="logo xl:col-span-2">
    <img src="./assets/images/header/logo.png" alt="">
  </div>

  <nav>
    <ul class="page-text1 sm:!text-12 sm:!leading-15 flex gap-40 xl:gap-10 xl:flex-col">
      <li><a class="text-white hoverunderline after:bg-white" href="#">О компании</a></li>
      <li><a class="text-white hoverunderline after:bg-white" href="#">Расписание сафари</a></li>
      <li><a class="text-white hoverunderline after:bg-white" href="#">Новости</a></li>
      <li><a class="text-white hoverunderline after:bg-white" href="#">Отзывы</a></li>
      <li><a class="text-white hoverunderline after:bg-white" href="#">Контакты</a></li>
    </ul>
  </nav>

  <div class="footer__block page-text1 sm:!text-12 sm:!leading-15">
    <div class="text-white point col-span-2 xl:col-span-1">Old Sheraton Street, Hurghada, Red Sea, Egypt</div>
    <a class="text-white phone hoverunderline after:bg-white w-max " href="tel:+777777777">+ 777 77-77-77</a>
    <a class="text-white mail hoverunderline after:bg-white w-max " href="mailto:VivedReef@gmail.com">VivedReef@gmail.com</a>
  </div>

  <div class="page-text3 flex gap-61 xl:col-span-2">
    <div class="text-white">© 2017 - 2022</div>
    <a class="text-white hoverunderline after:bg-white" href="#">Политика конфиденциальности</a>
  </div>

  <div class="page-text3 flex gap-61 xl:col-span-2">
    <a class="text-white hoverunderline after:bg-white " href="https://bydesign.by/">Разработка Студия Яр</a>
  </div>
</footer>