<meta charset="UTF-8">

<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<meta name="description" content="">
<title>{{ title }}</title>

<link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/css/swiper.css"> -->
<link rel="stylesheet" href="assets/css/vendor/swiper426.css">
<link rel="stylesheet" href="assets/css/style.min.css">
<!-- CSS only -->

<style>


</style>


