<meta charset="UTF-8">

<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<meta name="description" content="">
<title>{{ title }}</title>

<link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css">
<!-- <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" /> -->
<link rel="stylesheet" href="assets/css/style.min.css">
<!-- CSS only -->


