<div class="menu">
  <nav class="px-60 xl:px-20 pb-100">
    <ul class="page-h3 space-y-40 xl:space-y-30">
      <li><a href="#" class="hoverunderline after:bg-black">О компании</a></li>
      <li><a href="#" class="hoverunderline after:bg-black">Расписание сафари</a></li>
      <li><a href="#" class="hoverunderline after:bg-black">Новости</a></li>
      <li><a href="#" class="hoverunderline after:bg-black">Отзывы</a></li>
      <li><a href="#" class="hoverunderline after:bg-black">Контакты</a></li>
    </ul>
  </nav>

  <div class="px-60 xl:px-20 pt-50 border-t-1 border-solid border-bordr">
    <div class="page-text1 sm:!text-12 sm:!leading-15 flex flex-col gap-20">
      <div class="point point--blue">Old Sheraton Street, Hurghada, Red Sea, Egypt</div>
      <a class="phone phone--blue" href="tel:+777777777">+ 777 77-77-77</a>
      <a class="phone phone--blue" href="tel:+777777777">+ 777 77-77-77</a>
      <a href="https://t.me/+777777777" class="flex gap-10 hoverunderline">
        <svg class="w-24 xl:w-16 h-24 xl:h-16 fill-blue">
          <use href='#telegramIcon'></use>
        </svg>
        + 777 77-77-77
      </a>
      <a class="mail mail--blue" href="mailto:VivedReef@gmail.com">VivedReef@gmail.com</a>
    </div>
  
    <button class="page-button px-59 sm:px-50 page-text1 sm:w-full mt-50 closeMenuButtons" data-modal="#modal">Оставить заявку</button>
  </div>
</div>