<div class="regModal bg-[rgba(0,0,0,0.6)] fixed top-0 left-0 w-full h-full z-[1000] flex items-center justify-center opacity-0 px-20"
  id="modal" hidden>

  <div class="p-60 xl:px-20 xl:py-50 relative rounded-20 bg-white w-max h-full max-h-[61rem] xl:max-h-[48rem] overflow-auto">
    <button class="close-button absolute top-20 xl:top-15 right-20 xl:right-15">
      <svg class="w-17 h-17 object-contain">
        <use href='#crossIcon'></use>
      </svg>
    </button>

    <form action="#" class="flex flex-col gap-30 xl:gap-20 max-w-400">
      <div class="space-y-20 xl:space-y-10">
        <h2 class="page-h2 text-center">Оставить заявку</h2>
        <div class="page-text2 text-center">
          У вас есть вопросы? Заполните форму и наши специалисты свяжутся с вами
        </div>
      </div>

      <div class="space-y-10">
        <div class="input-container relative w-full">
          <input type="text" name="name" class="custom-input w-full" placeholder="Ваше имя" required>
        </div>
  
        <div class="input-container relative w-full error">
          <input type="tel" name="tel" class="custom-input w-full" placeholder="Телефон" required>
        </div>
  
        <div class="input-container relative w-full">
          <input type="email" name="mail" class="custom-input w-full" placeholder="E-mail" required>
        </div>
      </div>

      <div class="space-y-10">
        <div class="page-text2 text-center">
          Нажимая кнопку отправить, вы соглашаетесь на обработку персональных данных
        </div>
  
        <button type="submit" class="page-button !w-full page-text1">Отправить</button>
      </div>

    </form>
  </div>
</div>